@font-face {
  src: url("..\\fonts\\Poppins\\Poppins-Regular.ttf");
  font-family: "Poppins";
}

:root {
  --bg-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Poppins;
  scrollbar-color: red;
  scrollbar-width: 0.25rem;
}
header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 1.5rem;
  flex-grow: 1;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}

h1,
h2 {
  font-size: 2.5rem;
  margin: 0;
  text-decoration: underline wavy 0.05em;
  text-underline-offset: 0.1em;
}
h2 {
  font-size: 1.5rem;
}

/* Input form */
form {
  display: grid;
  gap: 1rem;
}
fieldset {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}
fieldset > section {
  flex-grow: 1;
}

legend {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  background-color: var(--bg-color);
  padding: 0 0.25rem;
  user-select: none;
}
legend > span {
  cursor: pointer;
}

textarea {
  background-color: var(--bg-color);
  width: 100%;
  max-width: 40ch;
  resize: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  margin: auto;
  box-shadow: 1px 1px 1px 1px black;
}

input[type="radio"] {
  display: none;
}
label:has(input[type="radio"]:checked) {
  background-color: red;
  box-shadow: inset 1px 1px 1px 1px black;
}

label:has(input#custom_text) {
  display: flex;
  flex-wrap: wrap;
}
input#custom_text {
  width: 15ch;
  transition: width 0.6s ease;
  margin: 0 0 0 1ch;
}

input#custom_text:disabled {
  width: 0;
  border: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}
form > button {
  font-weight: 900;
  padding: 1rem;
}

/* Output */

#output-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 30ch), 1fr));
  gap: 1.5rem;
  padding: 1rem 0;
  counter-reset: count;
}

.single-post {
  margin: 0;
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  position: relative;
  counter-increment: count;
  &::before {
    content: "Click to copy post #" counter(count);
    /* display: block; */
    background-color: var(--bg-color);
    height: 2rem;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: -1rem;
  }
  /* &::after{
    content: counter(count);
  } */
}

.copied {
  background-color: rgba(82, 175, 6, 0.558);
  &::before {
    content: "Copied!";
    background-color: rgb(82, 175, 6);
  }
}

.pasted {
  background-color: rgba(118, 119, 118, 0.558);
  &::before {
    content: "Pasted";
    background-color: #767676;
    color: #fcfcfc;
  }
}

.error {
  background-color: rgba(175, 6, 6, 0.558);
  &::before {
    content: "ERROR. Could not copy.";
    background-color: rgb(175, 6, 6);
    color: #fcfcfc;
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 3rem;
  min-height: 10dvh;
  background-color: rgb(36, 150, 244);
}

footer > * {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  display: grid;
  align-items: center;
}

/* Popover */
[popover] {
  gap: 0.25rem;
  flex-direction: column;
  width: 80dvw;
  height: 80dvh;
  padding: 1.25rem;

  /* Final state of the exit animation */
  opacity: 0;
  transform: scale(0, 0);

  transition: opacity 0.7s, transform 0.7s, overlay 0.7s allow-discrete,
    display 0.7s allow-discrete;

  &:popover-open {
    display: flex;
    box-shadow: 0rem 0rem 1.5rem 0rem #767676;
    opacity: 1;
    transform: scale(1, 1);
  }
  button {
    margin-left: auto;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0 0rem;
    width: 2rem;
    height: 2rem;
    color: rgb(255, 0, 0);
  }
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
    transform: scale(0, 0);
  }
}
