@font-face {
  src: url("..\\fonts\\Poppins\\Poppins-Regular.ttf");
  font-family: "Poppins";
}

:root {
  --bg-color: #ffffffff;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Poppins;
}

main {
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  padding: 1rem 0 0 1.5rem;
  margin: 0;
}

/* Input form */
form {
  width: 100%;
  display: grid;
  gap: 1rem;
}
fieldset {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}
fieldset > section {
  flex-grow: 1;
}

legend {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  background-color: var(--bg-color);
  padding: 0 0.25rem;
  user-select: none;
}
legend > span {
  cursor: pointer;
}

textarea {
  background-color: var(--bg-color);
  width: 100%;
  max-width: 40ch;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  margin: auto;
  box-shadow: 1px 1px 1px 1px black;
}

input[type="radio"] {
  display: none;
}
label:has(input[type="radio"]:checked) {
  background-color: red;
  box-shadow: inset 1px 1px 1px 1px black;
}

.single-post {
  padding: 1rem;
  border: 1px solid black;
}

.copied {
  background-color: rgba(82, 175, 6, 0.558);
}

.pasted {
  background-color: rgba(118, 119, 118, 0.558);
}
label:has(input#custom_text){
  display: flex;
  flex-wrap: wrap;
}
input#custom_text {
  width: 15ch;
  transition: width 0.6s ease;
  margin: 0 0 0 1ch;
}

input#custom_text:disabled {
  width: 0;
  border: none;
  padding: 0;
  margin: 0;
}

form > button{
  padding: 1rem;
  font-weight: 900;
}

/* FOOTER */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 3rem;
  min-height: 10dvh;
  background-color: rgb(36, 150, 244);
}

footer > *{
  margin: 0;
  flex-grow: 1;
  text-align: center;
  display: grid;
  align-items: center;
}

